body {
    font-family: "Inter";
}
main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
main section{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sectionLeft{
    position: relative;
}
.sectionLeft button{
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 10px;
}
.sectionLeft button img {
    background-color: transparent;
    width: 45px;
    height: 60px;
}
.location-LightHouse{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}



.sectionRight{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: var(--color-white);
    background-color: var(--color-oceanblue);
    box-shadow: -2px -2px 0 var(--color-gold);
    border-radius: 20px;
    padding: 20px;
    width: 60%;
    min-height: 100px;
    overflow: hidden;
}

h1{
    font-family: "Mitr";
    font-size: 70px;
    font-weight: 500;
    color: var(--color-white);
    width: 100%;
    text-align: center;
}



.card input{
    border: 2px solid var(--color-lightblue);
    background-color: transparent;
    padding: 6px;
    border-radius: 16px;
    width: 90%;
    height: 50px;
    color: var(--color-white);
    
}
.card input::placeholder{
    font-size: 8px;
    color: var(--color-white70);
    
}
.card button{
    font-weight: bold;
    font-size: 24px;
    background-color: var(--color-lightblue);
    padding: 6px;
    border-radius: 16px;
    width: 90%;
    height: 50px;
    color: var(--color-white);
}

.card span {
    font-weight: bold;
}

.card span a{
    text-decoration: none;
    color: var(--color-gold);
}
.card a{
    color: var(--color-white70);
    text-decoration: underline;
}
