
:root {
    --lighthouseLight: #f9f04c;
}

:root {
    --raio-glow: 22em;
    --animationTime: 6s;
}


#light{
    position: relative;
    width: 800em;
    height: 100em;
}

.dentro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#shining-lights-container {
    height: 100em;
    width: 800em;
    animation: left-to-right 
                var(--animationTime) 
                infinite 
                0s 
                forwards linear;
}

@keyframes left-to-right {
    0% {
        transform: translate(-50%, -50%) rotateY(0deg);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) rotateY(-180deg);
        opacity: 0.7;
    }
    100% {
        transform: translate(-50%, -50%) rotateY(0deg);
        opacity: 1;
    }
}

.shining-light{
    position: absolute;
    width: 70%;
    height: 46em;
    opacity: 0.7;
    top: 45%;
}

#shining-light-left {
background-image: linear-gradient(to right, 
                                #f9f59f 0%, 
                                #f9f59f00 100%);
float: left;
/* top: 57em; */
left: 10em;
transform: perspective(500em) 
            rotateX(0deg) 
            rotateY(-120deg) 
            rotate(0deg) 
            skew(-10deg) 
            translateY(-50%);
}

#shining-light-right {
    left: 236em;
    /* top: 56em; */
    background-image: linear-gradient(to left, 
                                    #f9f59f 0%, 
                                    #f9f59f00 100%);
    transform: perspective(500em) 
                rotateX(180deg) 
                rotateY(-120deg) 
                rotate(0deg) 
                skew(-10deg) 
                translateY(50%);
} 

#glow-shine-container {
    position: relative;
    height: 350em;
    width: 350em;
    border-radius: 100%;
    background: radial-gradient(ellipse at center, 
                            rgba(214, 205, 112, 0.6) 0%, 
                            rgba(211, 206, 160, 0) 100%);
    animation: glowing 
                var(--animationTime) 
                infinite 
                1s 
                forwards linear;
    z-index: 1; 
}

@keyframes glowing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
    }
}

.glow-shine{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #edea89;
}

#glow-shine-1 {
    height: 30%;
    width: 30%;
    opacity: 0.2;
}

#glow-shine-2 {
    height: 10%;
    width: 10%;
    opacity: 0.1;
    animation: glowing-shine-1 
                var(--animationTime) 
                infinite 
                0s f
                orwards 
                ease-in;
}

@keyframes glowing-shine-1 {
    0% {
        box-shadow: 0em 0em 0em #edea89;
        opacity: 0.6;
    }
    50% {
        box-shadow: 0em 0em 32em #edea89;
        opacity: 1;
        height: 12%;
        width: 12%;
    }
    100% {
        box-shadow: 0em 0em 0em #edea89;
        opacity: 0.6;
    }
}

#glow-shine-3 {
    position: absolute;
    height: 50%;
    width: 50%;
    opacity: 0.05;
}

#glow-shine-4 {
    position: absolute;
    height: 70%;
    width: 70%;
    opacity: 0.05;
}

#glow-shine-5 {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.05;
}

#glow {
    position: absolute;
    height: var(--raio-glow);
    width: var(--raio-glow);
    background-color: #fbfae1;
    background-image: radial-gradient(ellipse at center, 
                                  #fbfae1 0%, 
                                  #fffb6c 100%);
    border-radius: 100%;
    box-shadow: #ffeb3b 0em 0 22em, 
            #fcfab970 0 0 3em 1em inset;
    animation: glowing-ball 
                var(--animationTime) 
                infinite 
                0s 
                forwards 
                linear;
}

@keyframes glowing-ball {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}