*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul, ol, li{
    list-style: none;
}
button{
    border: none;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
}

:root{
    --first-light-color:#FFD700E5;
    --secondary-light-color:#FFFFFFCC;
    --third-light-color:#ECB365E5;
    --first-dark-color:#041423;
    --secondary-dark-color:#04293A;
    --third-dark-color:#115173;
    --fourth-dark-color: #0F5A7C;
}