/* Colour Variables */
:root {
    --mainBlack: #141912;
    --mainGrey: #252b21;
    --lighthouseLight: #f9f04c;
}


.light-house {
    position: absolute;
    bottom: 40px;
    left: 46vw;
    font-size: 1px;
  }
  .light-house *{
    font-size: inherit;
  }
  
  
  .right-attachment {
    position: absolute;
    height: 100em;
    width: 150em;
    background: var(--mainBlack);
    left: 20em;
    top: -20em;
  }
  
  .right-roof {
    position: absolute;
    height: 20em;
    width: 140em;
    background: var(--mainBlack);
    left: 11em;
    top: -20em;
    transform: skew(50deg);
  }
  
  /* Triângulo superior do farol */
  .top-triangle {
    padding-top: 7em;
    position: relative;
    height: 0em;
    width: 3em;
    bottom: 262em;
    left: 3em;
    background: rgba(0, 128, 0, 0);
    border-left: 20em rgba(0, 128, 0, 0) solid;
    border-right: 23em rgba(0, 128, 0, 0) solid;
    border-bottom: 18em #141b11 solid;
    border-top: 3em rgba(0, 128, 0, 0) solid;
    border-bottom-right-radius: 28%;
    border-bottom-left-radius: 28%;
    opacity: 0.98;
  }
  
    /* Detalhes do triângulo (círculos e luz) */
  
    .top-triangle-circle-top {
      position: relative;
      height: 8em;
      width: 6em;
      bottom: 3em;
      left: -1.5em;
      background: var(--mainBlack);
    }
  
    .top-triangle-circle-middle {
      position: absolute;
      height: 2em;
      width: 9.5em;
      background: var(--mainBlack);
      bottom: 0em;
      left: -3em;
    }
  
    .top-triangle-circle {
      position: relative;
      height: 8em;
      width: 8em;
      bottom: 17em;
      left: -2.5em;
      background: var(--mainBlack);
      border-radius: 100%;
    }
  
    
    /* Detalhes estruturais do farol  */
  
  
    /* Parte superior do farol */
    .top-ledge {
      position: absolute;
      height: 8em;
      width: 50em;
      top: 55em;
      left: -23em;
      background-color: var(--mainBlack);
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
    }
  
    .top-bars {
      opacity: 0.8;
    }
    /* Barras superiores do farol */
    .topbar {
      position: absolute;
      height: 120em;
      width: 2em;
      background: var(--mainBlack);
      opacity: 0.8;
    }
  
    #top-bar-1 {
      left: -14em;
    }
  
    #top-bar-2 {
      left: -8em;
    }
  
    #top-bar-3 {
      left: -1em;
    }
  
    #top-bar-4 {
      left: 5.5em;
    }
  
    #top-bar-5 {
      left: 12em;
    }
  
    #top-bar-6 {
      left: 18em;
    }
  
    /* *** ---- *** */
  
    /* Grades superiores do farol */
    .top-railings {
      position: absolute;
      height: 8em;
      width: 38em;
      top: 45em;
      left: -19em;
      border: 2em solid #141b11;
      border-radius: 2em;
      opacity: 0.8;
    }
  
    .railing {
      position: absolute;
      height: 10em;
      width: 2em;
      background: var(--mainBlack);
      top: -1em;
    }
  
    #top-railing-1 {
      left: 6em;
    }
  
    #top-railing-2 {
      left: 12em;
    }
  
    #top-railing-3 {
      left: 19em;
    }
  
    #top-railing-4 {
      left: 25em;
    }
  
    #top-railing-5 {
      left: 32em;
    }
  
    #top-railing-6 {
      left: 35em;
    }
    /* *** ---- *** */
    
    /* Detalhes estruturais do meio do farol */
  
    /* Parte do meio do farol */
    .mid-ledge {
      position: absolute;
      height: 8em;
      width: 52em;
      top: 100em;
      left: -24em;
      background-color: var(--mainBlack);
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
    }
  
    .mid-railings
  
    /* Sobreposição */
    .overlay {
      position: absolute;
      height: 40em;
      width: 42em;
      background: #141b11;
      top: 54em;
      left: -19em;
    }
  
    .mid-railings-rail {
      position: absolute;
      height: 10em;
      width: 55em;
      top: 72em;
      left: -26em;
      border-top-left-radius: 2em;
      border-top-right-radius: 2em;
      border: 1em solid var(--mainBlack);
    }
  
      .mid-rail {
        position: absolute;
        width: 1em;
        height: 10em;
        background: var(--mainBlack);
      }
  
      .mid-rail-1 {
        left: 2em;
      }
  
      .mid-rail-2 {
        left: 4em;
      }
  
      .mid-rail-3 {
        left: 6em;
      }
  
      .mid-rail-5 {
        left: 49em;
      }
  
      .mid-rail-6 {
        left: 52em;
      }
  
    /* Grades do meio à esquerda e à direita */
    .left-mid-railings {
      position: absolute;
      top: 80em;
      left: -28em;
      border-left: 26em rgba(0, 128, 0, 0) solid;
      border-right: 15em rgba(0, 128, 0, 0) solid;
      border-bottom: 15em #141b11 solid;
      border-top: 0em rgba(0, 128, 0, 0) solid;
      border-bottom-right-radius: 0%;
      border-bottom-left-radius: 100%;
    }
  
    .right-mid-railings {
      position: absolute;
      top: 80em;
      left: -8em;
      border-left: 26em rgba(0, 128, 0, 0) solid;
      border-right: 15em rgba(0, 128, 0, 0) solid;
      border-bottom: 15em #141b11 solid;
      border-top: 0em rgba(0, 128, 0, 0) solid;
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 0%;
    }
  /* *** ---- *** */
  
  /* Painel com rotação 3D */
  .panel-container {
    width: 100%;
    height: 307em;
    border: 0em solid #ccc;
    margin: 0 0em;
    position: absolute;
    transform: perspective(300em);
    left: 0em;
    bottom: -12em;
  }
  
  .left-mid-roof {
    position: absolute;
    height: 35em;
    width: 100em;
    background: var(--mainBlack);
    bottom: 0%;
    left: -16em;
  }
  
  .left-mid-roof-2 {
    position: absolute;
    height: 5em;
    width: 70em;
    background: var(--mainBlack);
    bottom: 18%;
    left: -11em;
    border-radius: 10%;
  }
  
  #rotate-x .panel {
    background-size: 100%;
    background: var(--mainBlack);
    width: 50em;
    height: 100%;
    min-height: 220em;
    margin: auto;
    transform: perspective(329em) rotateX(44deg) translate3d(0em, 0em, 0em);
  }
  /* *** ---- *** */
  
  
  /* Luzes do farol */
  .lighthouse-lights {
    position: absolute;
    height: 110em;
    top: -130em;
    width: 43em;
    right: 0em;
  }
  
  .light {
    position: relative;
    height: 26em;
    width: 10em;
    background: var(--lighthouseLight);
    border-top-right-radius: 20em;
    border-top-left-radius: 20em;
    box-shadow: rgba(255, 235, 59, 1) 0em 0 22em, rgba(252, 250, 185, 0.44) 0 0 3em 1em inset;
  }
  
  #light-right-top {
    top: 0em;
    right: -24em;
  }
  
  #light-left-middle {
    top: 30em;
    right: -7em;
  }
  /* *** ---- *** */
  
  /* Luzes inferiores do farol */
  
  .lighthouse-bottom-lights div{
    position: absolute;
    top: -15em;
    height: 18em;
    width: 8em;
    border-radius: 0em;
  }
  
  #light-left-bottom {
    right: -22em;
  }
  
  #light-right-bottom {
    right: -35em;
  }
  /* *** ---- *** */
  
  
  /* Rochas ao fundo */
  
  .back-rocks {
    position: absolute;
    width: 480em;
    height: 50em;
    left: -130em;
    bottom: -47em;
  }
  
  .back-rock{
    position: absolute;
    background: var(--mainGrey);
    border-radius: 100%;
  }
  
  #back-rock-1 {
    width: 68em;
    height: 60em;
    left: 0em;
    bottom: -30em;
  }
  
  #back-rock-2 {
    width: 70em;
    height: 70em;
    left: 68%;
    bottom: -30em;
  }
  
  #back-rock-3 {
    width: 55em;
    height: 55em;
    left: 88%;
    bottom: -30em;
  }
  /* *** ---- *** */
  
  /* Rochas na frente */
  
  .front-rocks {
    position: absolute;
    bottom: -90em;
    left: -145em;
    height: 100em;
    width: 350em;
  }
  
  .front-rock{
    position: absolute;
    border-radius: 100%;
    background: var(--mainBlack);
  }
  
  #front-rock-1 {
    left: 50em;
    height: 150em;
    width: 180em;
  }
  
  .satellite {
    position: absolute;
    height: 60em;
    width: 2em;
    background: var(--mainBlack);
    left: 90em;
    top: -40em;
  }
  
  #front-rock-2 {
    bottom: 0em;
    left: 240em;
    height: 100em;
    width: 150em;
  }
  
  #front-rock-3 {
    bottom: -22em;
    left: 365em;
    height: 100em;
    width: 90em;
  }
  
  /* *** ---- *** */