.nada{
    min-height: 100px;
    height: 15%;
    width: 100%;
    background-color: blue;
}

.scrollPublications{
    max-width: 100%;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--gray) #00000000; 
}