
.Publications{
    width: 100%;
    height: auto;
    max-height: 540px;
    align-self: stretch;
    padding: 10px;
    display: flex;
    margin: 5px;
    border-radius: 15px;
    transition: 0.5s;
}
.comComments{
    background-color: var(--color-lightblue50);
    max-height: 640px;
    scrollbar-width: thin;
    scrollbar-color: var(--color-white25) #00000000; 
}

.areaComments{
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 100%;
    height: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-white25) #00000000; 
}

.Publications h4{
    cursor: pointer;
    color: var(--color-white);
}
.fotoPublications{
    height: 100%;
    width: 5%;
    padding: 5px;
}
.fotoPublications img{
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.areaPublications{
    display: flex;
    max-height: 100%;
    max-width: 95%;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}
.areaPublications span{
    color: var(--color-white60);
    font-size: 12px;
    align-items: end;
}
.areaPublications p{
    color: var(--color-white);
}

.topPublications{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textPublications{
    width: 100%;
    display: flex;
}

.textPublications p{
    font-weight: normal;
}

.midiaPublications{
    height: 65%;
    max-height: 378px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
}
.midiaPublications img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.areaOptions{
    height: 8%;
    display: flex;
    align-items: center;
    padding: 2px;
    gap: 5px;
}


.deletePublications{
    font-size: 16px;
    color: var(--color-lightblue);
}
.deletePublications:hover{
    color: var(--color-gold);
}



.saveButton {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    cursor: pointer;
  }
  