
.Publications{
    width: 100%;
    max-height: 540px;
    padding: 10px;
    display: flex;
    margin: 5px;
}
.comComments{
    background-color: var(--color-lightblue);
    width: 100%;
    max-height: 540px;
    padding: 10px;
    display: flex;
    margin: 5px;
    border-radius: 15px;
}
.Publications h4{
    cursor: pointer;
    color: var(--color-white);
}
.fotoPublications{
    height: 100%;
    width: 5%;
    padding: 5px;
}
.fotoPublications img{
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.areaPublications{
    display: flex;
    max-height: 100%;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}
.areaPublications span{
    color: var(--color-white60);
    font-size: 12px;
    align-items: end;
}
.areaPublications p{
    color: var(--color-white);
}


.topPublications{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

.textPublications{
    width: 100%;
    padding: 2px;
    display: flex;
}

.midiaPublications{
    max-height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.midiaPublications img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.areaOptions{
    height: 8%;
    display: flex;
    align-items: center;
    padding: 2px;
    gap: 5px;
}